/* Styles for the search box */


#displayToggle {
    margin: 15px auto 0;
}

@media (max-width: 1000px) {
    #displayToggle {
        display: none;
    }
}

#searchHeader {
    width: fit-content;
    position: relative;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

#keysContainer {
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.keyContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.keyBox {
    width: 40px;
    height: 20px;
    border: black solid 2px;
    background-image: var(--noise);
}
#redKeyBox {
    background-color: var(--brick-red);
}
#greyKeyBox {
    background-color: lightgrey;
}
#clearSearch {
    background-color: #ea9f94;
    width: fit-content;
}
#customizeButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.datasetNote {
    padding: 0 15px;
    max-width: 800px;
    font-size: 14px;
    margin: 5px auto;
    text-align: center;
}

/* DROP DROWN */

.accordion {
    background-color: unset;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover, .accordion:focus {
    background-color: var(--brick-red); 
}
.searchDropdown {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 0;
    overflow: hidden;
    padding: 5px 15px;
    margin: auto;
    transition: all 0.4s ease-out;
}

#searchContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
    width: fit-content;
    max-width: 90vw;
    background-color: lightgrey;
    padding: 15px;
}
#sectionSearchContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
#sectionSearchContainer > span {
    width: 100%;
    text-align: left;
}
#sectionSearchButtons {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
#submitSearch {
    margin-left: 5px;
    margin-top: 5px;
}
#nameSearchContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.editFormLink {
    margin: 10px auto;
    display: block;
}